.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.App-logedInEmail{
  display: flexbox;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: auto;
  color: rgb(100, 100, 100);
}

.btn {
  margin-top: 1rem;
  border: none;
  background-color: #ec4e0f;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #ccc;

}

.btn-refresh{
  margin-top: 0rem;
  margin-right: 12rem;
  margin-bottom: 2rem;
  margin-left: auto;
  background-color: rgb(34, 24, 61);
  border: none;
  color: rgb(100, 100, 100);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #333333;
  display: flex;
  font-size: x-small;
  block-size: 2rem;
}

.btn-add {
  margin-top: 1rem;
  margin-left: auto;
  border: none;
  background-color: rgb(17, 150, 0);
  color: rgb(80, 79, 79);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #333333;
  display: flex;
  font-weight: bold;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select{
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-size: 1rem;
}
